.rotation{
    width: 100px;
    height: 100px;
    border: 10px solid rgb(74, 35, 35);
    border-top: 10px double blue;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    animation: rotate 1500ms linear infinite;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}